body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
button{
    border: none;
    padding: 10px 0;
    color: #ffff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: #962e2e;
    font-size: 18px;
}