* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #74ebd5, #acb6e5);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

canvas {
  background: #fff;
  display: block;
  margin: 40px auto;
  border: 3px solid #333;
  border-radius: 10px;
  touch-action: none; /* prevents screen scroll while dragging */
}

#scoreBoard {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
