.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color: #ffff;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 20px 0;
}   
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f235a;
    color:#ffff;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    width:400px;
    height: 200px;
}


@font-face {
    src: url("fonts/digital-7.ttf");
    font-family: "Digital Seven";
}

.home, .guest{
    margin-top: -30px;
}
.home{
    margin-right: 60px;
}
#home-score, #guest-score{
    width: 100px;
    font-size: 80px;
    color: #b34343;
    background-color: #020202;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
}

p, button{
    font-family: "Digital Seven";
}

button{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 6px;
    color: #ffff;
    background-color: transparent;
    border: 1px solid #ffff;
    padding: 10px;
}
button:hover{
    background-color: #cbd44a;
}
#next-game{
    margin-top: 200px;
    margin-left: 15px;
}
#next-game:hover{
    background-color:#70b343
}