body {
    height: 100vh; 
    background-image: url("images/train-station.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(1px);
    z-index: -1; 
}

.counter{
    max-width: 400px;
    background-color: whitesmoke;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0.5, 0.5); 
    border-radius: 10px;
}
h1{
    font-weight:bolder;
}
#count-el{
    margin: -15px 0 15px 0;
    font-size: 50px;
    font-weight: bold;
}
button{
    border: none;
    padding: 10px 0;
    color: #ffff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: #c2cc67;  
}
#save-btn{
    background-color: #72dd69; 
}
#increment-btn:hover{
    background-color: #beb244;
    border: 5px solid rgb(58, 180, 180);
}
#save-btn:hover{
    background-color: #6ab447; 
    border: 5px solid #43a19c;
}
#save-btn, #increment-btn{
    font-size: 18px;
    display: block;
    margin: 0 auto 10px auto;
}
#save-el{
    font-weight: bolder;
    font-size: 20px;
}